<div class="text-center">
    <h1 class="display-4">Welcome to searching OMDB</h1>
</div>

<div class="text-center">
    <a asp-action="MovieSearchForm"><button>Single Movie Search</button></a>
    <a asp-action="MovieNightForm"><button>Movie Night Search (3 titles!)</button></a>
</div>